<div class="promotions-container">
  <mat-card *ngFor="let promo of promotions" class="promotion-card">
    <img mat-card-image [src]="promo.image" [alt]="promo.name" />
    <mat-card-content>
      <h3>{{ promo.name }}</h3>
      <p>
        Prix original : <s>{{ promo.originalPrice | currency }}</s>
      </p>
      <p>Prix promotionnel : <strong>{{ promo.promoPrice | currency }}</strong></p>
    </mat-card-content>
    <mat-card-footer>
      <div *ngIf="promo.isNew" matBadge="NOUVEAU" matBadgeColor="primary"></div>
      <div *ngIf="!promo.isNew" matBadge="PROMO" matBadgeColor="accent"></div>
    </mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button color="primary">Voir l'offre</button>
    </mat-card-actions>
  </mat-card>
</div>
